.package{
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    width: 70%;
    border-radius: 10px;
    height: 300px;
    margin-bottom: 50px;
}

.package:hover{
    width:72%;
    height: 325px;
    box-shadow: 1px 1px 5px 1px #000000;
    transition: 200ms;
}
#options{
    width: 25%;
}

#options > p {
    margin-left: 30px;
    margin-bottom: 10px;
}

#option{
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 10px;
}

.options--country{
    font-weight: 600;
    color:rgb(255, 157, 0);
    margin-left: 30px;
}

.vl{
    display: flex;
    border-left: 2px solid rgb(191, 191, 191);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;
    height: 250px;
    align-items: center;
}

.description{
    width: 40%;
    margin-right: 30px;
}

#description--title{
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#description--text{
    overflow: auto;
}

#description--price{
    margin-top: 10px;
}

.photos{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topleft{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.topright{
    width: 50%;
    height: 50%;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.botleft{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.botright{
    width: 50%;
    height: 50%;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    object-position: center;
}