@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Raleway;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(250, 139, 28, 0.733);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(222, 222, 222);  /* creates padding around scroll thumb */
}
